@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';


body {
    background-color: #18191b;
    overflow-y: auto;
    height: 100vh;
}

.category-card-image {
    width: 450px;
    height: 380px;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    border-radius: 0.75rem;
    display: block;
}

.container {
    position: relative;
    margin: 3em 0 0 0;
}

.title {
    position: absolute;
/*title is positioned at the top of container div*/
    bottom: 40%;
    color: black;
    width: 450px;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
    border-radius: 0.75rem;
/*title div is at the back of container and hence not visible*/
    z-index: -1;
}

.container:hover .title {
    z-index: 0;
    opacity: 1;
    transition: 0.4s ease-in;
}

.container:hover .category-card-image {
    filter: blur(5px);
    transition: 0.4s ease;
}